$wrapper
  //max-width $contentWidth
  width: 67%
  max-width: calc(100% - 32px);
  margin 0 auto
  //background-color $bgColor
  //@media (min-width: $MQNarrow)d
    //padding 2rem
  @media (max-width: $MQMobileNarrow)
    //padding 1.5rem
    width:88%

