// 头像圆角
.navbar .logo {
 border-radius:50%;
}
// 激活菜单 背景色。
a.sidebar-link.active {
    background:ghostwhite;
}

html,body{
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6,ul,li,p,div,dl,dt,dd,img{
    margin:0;
    padding:0;
    list-style: none;
}

//友情链接里面的a标签下方的描述字体太粗添加此css
a{
    font-weight:normal;
}