:root
  --a-Text-color $aTextColor
  --regular-text $textColor
  --primary-text $lightPrimaryText
  --bg-color $lightBgColor
  --card-color $lightCard
  --border-color $boderLightStyle
  --box-shadow $boxLightShadow

  @media (prefers-color-scheme: dark)
    --a-Text-color $darkRegularText
    --regular-text $darkRegularText
    --primary-text $darkPrimaryText
    --bg-color $darkBgColor
    --card-color $darkCard
    --border-color $boderDarkStyle
    --box-shadow $boxDarkShadow
