// 颜色
$accentColor = #5cadff
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$darkTextColor = #000
$tagsTextColor = #fff
$footerTextColor = #808695;

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 240px
$contentWidth = 800px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
// 进度条颜色
$nprogressColor = #5cadff
// 文章内容文字大小
$fontSize = 14px;