// 颜色
$accentColor = #5cadff //激活的字体颜色
$textColor = #2c3e50 //常规字体颜色
$darkTextColor = #000 //列表标题
$lightBgColor = #fff //常规背景色
$lightCard = ghostwhite;//激活背景卡片色

$tagsTextColor = #fff
$footerTextColor = #808695;

$aTextColor=inherit;
$boderLightStyle= 1px solid rgba(26, 26, 26, 0.15);
$boxLightShadow = 0 1px 4px rgba(26, 26, 26, 0.15);

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 240px
$contentWidth = 800px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
// 进度条颜色
$nprogressColor = #5cadff
// 文章内容文字大小
$fontSize = 14px;

// dark mode scheme
$darkPrimaryText = #ffffff   // 文字的首要颜色
$darkRegularText = #b8b8b8   // 常规文字颜色
$darkBgColor = #171514       // 深色背景颜色
$darkCard = #232222          // 深色卡片颜色
$boxDarkShadow = 0 1px 4px rgba(255, 255, 255, 0.30);
$boderDarkStyle= 1px solid rgba(255, 255, 255, 0.30);
